
<%- include('header') %>

      <% console.log(msData) %>
  
    <h1 class="text-center">Enter membership details</h1>
    <div class="container mt-5">
        <div>
            <form action="/membershipEditData" method="post">
                <input type="hidden" name="sn" value="<%= msData.sn %>">
                <input type="hidden" name="mid" value="<%= msData.mid %>">
                <div class="row m-2">
                    <div class="col-sm-4 form-group">
                        <label for="" class="form-label">Payment Amount</label>
                        <label for="" class="float-end">:</label>
                    </div>
                    <div class="col-sm-8 form-group">
                        <input type="number" name="payment" value="<%= msData.payment %>" class="form-control">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-4 form-group">
                        <label for="" class="form-label">Payment Date</label>
                        <label for="" class="float-end">:</label>
                    </div>
                    <div class="col-sm-8 form-group">
                        <input type="date" name="payment_date" value="<%= msData.payment_date %>" class="form-control">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-4 form-group">
                        <label for="" class="form-label">Start Date</label>
                        <label for="" class="float-end">:</label>
                    </div>
                    <div class="col-sm-8 form-group">
                        <input type="date" name="start_date" value="<%= msData.start_date %>" class="form-control">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-4 form-group">
                        <label for="" class="form-label">End Date</label>
                        <label for="" class="float-end">:</label>
                    </div>
                    <div class="col-sm-8 form-group">
                        <input type="date" name="end_date" value="<%= msData.end_date %>" class="form-control">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-12 text-center form-group">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include('footer') %>
